.footer
{
    width: 100%;
    height: 60px;
    /* background: linear-gradient(90deg, var(--lightest-green), var(--darkest-green)) */
    background: black;
    box-shadow: 0 0 15px var(--lightest-green),
    0 -5px 15px black;
    padding-top: .3rem;
    position: relative;
    bottom: 0;
    left: 0;
}

.footer .items
{
    
    display: grid;
    justify-content: space-between;
    grid-template-columns: .25fr .50fr .25fr;
    align-items: center;
    padding: 0 1rem;
}

.footer .items a
{
    text-decoration: none;
    color: initial;
}

.footer .items .logo 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .items li 
{
    list-style-type: none;
    color: white;
    cursor: pointer;
}

.footer .items h4
{
    background: -webkit-linear-gradient(white, #90ee90 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.footer .items .left-container 
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.footer .items .left-container > *
{
    cursor: pointer;
}

.footer .items .right-container 
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.footer .items .right-container > *
{
    cursor: pointer;
}

.footer .items .logo img {
    animation: rotate_logo 1s linear;
    animation-delay: 1s;
}

@keyframes rotate_logo {
   
    100% {
        transform: rotateZ(360deg);
    }
}