html
{
  scroll-behavior: smooth;
}

.home-container 
{
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.page-desc 
{
    display: flex;
}
 
.row {
  line-height: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}

.whyuni{
  margin-top: 95px;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fade_animation 1s 1;
}

.button {
  cursor: pointer;
  background-color: var(--lightest-green);
  max-width: 400px;
  align-self: center;
  border-radius: 400px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 350ms ease;
}

.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.text1{
  line-height: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  position: relative;
  left: +12.5%;
  justify-content: space-around;
  max-width: 400px;
  justify-content: space-between;
  margin-bottom: 50px;
  color: var(--text-color);
}

.text2 {
  line-height: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  position: relative;
  left: +35%;
  justify-content: space-around;
  max-width: 400px;
  justify-content: space-between;
  margin-bottom: 50px;
  color: var(--text-color);
}

.logoish{
  animation: rotate_logo 1s linear;
  animation-delay: 1s;
}

.text3{
  line-height: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  position: relative;
  left: +34%;
  justify-content: space-around;
  max-width: 500px;
  justify-content: space-between;
  margin-bottom: 50px;
  color: var(--text-color);
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

.text p 
{
  color: var(--small-text-color);
}

.change 
{
    font-size: 40px;
    border-radius: 15px;
    line-height: 35px;
    text-align: center;
    display: flex;
    color: black;
    width:100%;
    justify-content: center;

}

.change h2
{
    line-height: 80px;
    
}

.stangatitlu{
    color: var(--darkest-green);
  /* background: -webkit-linear-gradient(var(--lightest-green), var(--darkest-green));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.dreaptatitlu{
    color: var(--lightest-green);
  /* background: -webkit-linear-gradient(var(--lightest-green), var(--darkest-green));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.banner 
{
    
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "DM Sans";
    position: absolute;
 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);

    z-index: 5;
}

.banner h2
{
    font-size: 65px;
    max-width: 100%;
    text-align: center;
    color: #efedea;
    line-height: 75px;
    animation: fade_animation 1.5s 1;

}

.banner p 
{
  color: #fff;
  width: 100%;
  max-width: 40%;
  text-align: center;
  margin: 1rem auto;
  animation: fade_animation 1.5s 1;
  font-size: 22px;
  line-height: 150%;
}

span.gradient-text 
{
  background: -webkit-linear-gradient(0deg, var(--lightest-green) 40%, var(--darkest-green) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--text-color);
  text-align: center;
  font-size: 65px;
}

h2.inspirational-message
{
    white-space: nowrap;
    border-bottom: 5px solid var(--lightest-green);
    color: var(--text-color);

}

.map-container
{
  width: 100%;
  height: 100vh;
}

.row 
{
  min-height: 50vh;
}

.maps-row 
{
  position: relative;
  margin-top: 2rem;
}

.maps-row img 
{
  
}

h2.part-title
{
  font-size: 5vw;
  margin-top: 3rem;
  text-align: center;
  background: -webkit-linear-gradient(0deg, var(--lightest-green) 40%, var(--darkest-green) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--text-color);
}

.part 
{
  width: 100%;
  height: 100vh;
  max-height: 75rem;
}



.part.animation 
{
  animation: fade_animation 1.5s 1;
}

.part:not(.animation)
{
  opacity: 0;
}

.part .part-desc 
{
  font-size: 25px;
  max-width: 37.5rem;
  font-family: "DM Sans";
  
  margin: 2rem auto;
  color: rgb(224, 221, 221);
  line-height: 35px;
}

.part .part-desc span
{
  font-size: 25px;
  background: -webkit-linear-gradient(180deg, var(--lightest-green) 40%, var(--darkest-green) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.part .part-container 
{
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin: 5rem auto;
}


.part .part-container .column 
{
  color: #fff;
  display: flex;
  height: 100%;
  flex-direction: column;
 
}

.part .part-container .column h3
{
  margin: 2rem auto;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}


.part .part-container .column p 
{
  color: rgba(255, 255, 255, .85);
  text-align: left;
}

.part .part-container .column .column-icon 
{
    font-size: 50px;
    color: var(--lightest-green);

    border: 1px solid #fff;
    border-radius: 100%;
    width: 100%;
    max-width: 75px;
    margin: 0 auto;
    padding: 1.75rem 1rem;
    cursor: pointer;

    transition: all 350ms ease;
}

.part .part-container .column .column-icon:hover 
{
  background: -webkit-linear-gradient(180deg, var(--lightest-green) 40%, var(--darkest-green) 90%);
  padding: 2rem 1.25rem;
  border: none;
  color: #fff;
}

.part-two,
.part-three
{
  display: flex;
  justify-content: flex-start;
 
  margin: 0 auto;
}

.part-two .column,
.part-three .column
{
  justify-content: initial;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part-two .column .column-title,
.part-three .column .column-title 
{
  background: -webkit-linear-gradient(180deg, var(--lightest-green) 40%, var(--darkest-green) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.part-two .column p,
.part-three .column p
{
  color:rgb(224, 221, 221);
  margin-top: 1.5rem;

}

.part-two .column img,
.part-three .column img
{
  max-width: 400px;
}

@keyframes fade_animation {
    from {
        opacity: 0;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(initial);
    }
};

@media screen and (max-width: 900px)
{
    .row
    {
        flex-direction: column;
    }
}
