.club-cont
{
    max-width: 100%;
}

.forms-container
{
    background: var(--background);
}

.sports-container 
{
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 1.5rem;
    margin: 2rem auto;
    max-height: 25vh;
    overflow-y: auto;

    border-radius: 2rem;
}

.input-field 
{
    background: rgba(255, 255, 255, 0.2);
    
}

.input-field input 
{
    color: #fff;
}

.sports-container .sport 
{
    width: 100%;
    display: flex;
    
    align-items: center;
    height: 45px;
    background: rgba(255, 255, 255, .2);
    column-gap: .5rem;
    padding: 1rem;
    border-radius: 34px;
    cursor: pointer;
    color: rgba(255, 255, 255, .75);
    transition: all 450ms ease-in-out;
}

.sports-container .sport.active 
{
    
    background: linear-gradient(135deg, var(--darkest-green), var(--lightest-green));
    color: #fff;
}

.privacy 
{
    width: 100%;
    max-width: 380px;
  
}

.btn.solid 
{
    margin-top: 5rem;
  
    border-radius: 8px;
}