.clubs-title
{
    margin-top: 3rem;
    background: -webkit-linear-gradient(var(--lightest-green), var(--darkest-green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
    font-size: 45px;
}

.clubs-container 
{
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    column-gap: 2.5rem;
    row-gap: 3rem;
    margin: 2.5rem; 
}

.clubs-container.empty 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    margin: 0;
}

.clubs-container > a 
{
    width: 100%;
    max-width: 350px;
}

.clubs-container .club 
{
    width: 100%;
    max-width: 350px;
    min-height: 150px;
    background: linear-gradient(var(--lightest-green), var(--darkest-green));
    border-radius: .75rem;
 
    cursor: pointer;
    position: relative;
    
    overflow: hidden;
    padding: .5rem;
    transition: all 350ms ease;
}

.clubs-add-icon 
{
    cursor: pointer;
    transition: all 300ms ease-in;
}

.clubs-container .club:hover,
.clubs-add-icon:hover
{
    box-shadow: 5px 5px 15px var(--light-green),
                -5px -5px 10px var(--lightest-green);
}

.clubs-container a
{
    text-decoration: none;
    width: 100%;
    color: initial;
}

.clubs-container .club .icon 
{
    position: absolute;
    bottom: -40px;
    left: -15px;
    font-size: 70px;
  
}

.clubs-container .club .owner 
{
    position: absolute;
    right: 15px;
    top: 0px;
    color: #fff;
    font-size: 30px;
}

.clubs-container .club .club-title
{
    font-size: 20px;
    text-align: left;
}

.clubs-container .club .club-people 
{
    font-size: 16px;
    text-align: left;
    margin-left: .5rem;
}

.privacy-container 
{
    position: absolute;
    bottom: 5px;
    right: 15px;
    
}

.privacy-container:hover .privacy-icon
{
    transform: initial;
}

.privacy-icon 
{
    color: #fff;
    transform: rotateY(180deg);
    font-size: 30px;
    transition: all 350ms ease-in-out;
}

.centered-title 
{
    text-align: center;
    font-size: 50px;
    color: #666;
}