.title 
{
    font-size: 65px;
    /* margin-top: -4rem; */
    text-align: center;
    background: -webkit-linear-gradient(var(--lightest-green), var(--darkest-green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.posts{

    max-width: 600px;
    text-align: center;
    gap: 20px;
    margin: 0 auto;
}
.post-container{
    background-color: rgb(249, 246, 246);
    margin: 20px 0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 16px;
    padding-left: 2rem;
    padding-bottom: 3rem;
     box-shadow: 0 0 5px var(--lightest-green),
    0 0px 5px var(--darkest-green);
    padding-top: .3rem; 
}
span{
    font-size: 15px;
}
.content{
    text-align: left;
}
.creator{
    text-align: left;
    font-size: x-large;
}
.add-icon 
{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: linear-gradient(135deg, var(--darkest-green), var(--lightest-green));
    border-radius: 50%;
    font-size: 50px;
    padding: 10px;
    width: 50px;
    color: #fff;
    cursor: pointer;
}
