.icon{
    color: white;
}

.add-container 
{
    position: absolute;
    bottom: 0rem;
    color: #fff;
    background: linear-gradient(135deg, var(--light-green), var(--dark-green));
    font-size: 16px;
    padding: .5rem;
    border-radius: 2rem;
    
    width: 90%;
    height: 50px;
    cursor: pointer;
    
}

.group-container 
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    color: #fff;
    cursor: pointer;
}

.group-container .fa-users
{
    color: var(--dark-green);
}